<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1081992843680-6edqhoj2msv7vg83o9cjfg5vbpl77c8k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1081992843680-6edqhoj2msv7vg83o9cjfg5vbpl77c8k</string>
	<key>API_KEY</key>
	<string>AIzaSyBjfrwA59tjECLZRE_RugGXXA4IqXM-CNQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1081992843680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.learningdart</string>
	<key>PROJECT_ID</key>
	<string>flutter-originalkamaal</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-originalkamaal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1081992843680:ios:806b3981d9cb335e3614c5</string>
</dict>
</plist>